/.vs
/FNT_VENTAS/bin
/FNT_VENTAS/obj/Debug
/FNT_BusinessEntities/bin
/FNT_BusinessEntities/obj/Debug
/FNT_BusinessLogic/bin
/FNT_BusinessLogic/obj/Debug
/FNT_Common/bin
/FNT_Common/obj/Debug
/FNT_DataModel/bin
/FNT_DataModel/obj/Debug